# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
db.sqlite3

# Virtual environment
venv/
myenv/
*.log

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
*.swp

# Django-specific
*.log
*.pot
*.pyc
*.db
*.sqlite3
local_settings.py

# Media files
media/

# Static files
static/

# If you're using Celery
celerybeat-schedule
celerybeat.pid

# If you're using Docker
*.env
docker-compose.override.yml
